* {
  margin: 0px;
  padding: 0px;
  color: white;
}
.main {
  width: 700px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
}
.contentInfo {
  width: 400px;
  margin: 0 auto;
}
.contentInfo h1 {
  padding: 100px 0;
}
.contentInfo h1 a {
  text-decoration: none;
  color: white;
}
.contentInfo img {
  margin: 0 auto;
  display: inline-block;
}
.contentInfo p {
  padding: 5px 0;
  border-bottom: 1px solid gray;
}
h1 {
  color: white;
  padding: 20px 40px;
  font-size: 24px;
  border: 1px solid #38444d;
}
.user {
  width: 550px;
  border: 1px solid #38444d;
  overflow: scroll;
  height: 120px;
  display: block;
  color: white;
}
.user a:visited,
.user a:active,
.user p {
  color: white;
}
.user .comments {
  display: inline;
  width: 400px;
  position: relative;
  top: 30px;
  left: 50px;
}
.user .comments p {
  display: inline-block;
  width: 400px;
  padding: 0px 0 40px 40px;
}
.user .comments img {
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 25px;
}
.user .info {
  width: 100%;
  display: inline-block;
}
.user .info img {
  box-shadow: 1px 1px 10px gray;
  height: 50px;
  width: 50px;
  float: left;
  display: inline-block;
  margin: 20px 40px;
  border-radius: 50px;
}
.user .info input,
.user .info p {
  background-color: inherit;
  width: 300px;
  border: none;
  display: inline-block;
  margin: 15px 0;
}
.user .info input::placeholder {
  color: white !important;
  font-size: 12px;
  background-color: inherit;
}
.user .info input:focus {
  outline: none;
}
.user .info p {
  padding: 5px 0px;
}
.content {
  width: 150px;
  padding-top: 80px;
  display: inline-block;
}
.content li {
  padding: 20px;
  list-style: none;
}
.content li a {
  text-decoration: none;
  color: white;
}
.editButton {
  display: inline-block;
  padding: 0 20px;
}
